KAFKA_BROKER_URL=str
KAFKA_USER_NAME=str
KAFKA_PASSWORD=str
KAFKA_CLIENT_ID=str

MONGO_DB_PROD_SERVER_HOST=str
MONGO_DB_PROD_SERVER_DATABASE_NAME=str
MONGO_DB_PROD_SERVER_COLLECTION_NAME=str

# AWS
ACCESS_KEY=str
SECRET_KEY=str

#Event Bridges
NDR_EVENT_BRIDGE_SOURCE=str
NDR_EVENT_BRIDGE_DETAIL_TYPE=str
NDR_EVENT_BRIDGE_BUS_NAME=str

PULL_EVENT_BRIDGE_SOURCE=str
PULL_EVENT_BRIDGE_DETAIL_TYPE=str
PULL_EVENT_BRIDGE_BUS_NAME=str

SLACK_TRACKING_ERROR_WEBHOOK_URL=str

V1_EVENT_BRIDGE_SOURCE=str
V1_EVENT_BRIDGE_DETAIL_TYPE=str
V1_EVENT_BRIDGE_BUS_NAME=str

SHOPCLUES_TOKEN_URL=str
SHOPCLUES_USERNAME=str
SHOPCLUES_PASSWORD=str
SHOPCLUES_CLIENTID=str
SHOPCLUES_CLIENT_SECRET=str
SHOPCLUES_GRANT_TYPE=str